// ## COLORS ##

$color-white: #FFFFFF
$color-black: #000000
$color-danger: #ff3d00
$color-border: #b1d1f1

$color-primary: #34495E
$color-primary-light: #00BCD4
$color-primary-super-light: #a2dee6
$color-secondary: #41B883
$color-secondary-dark: #009688

// # MAIN STYLES ##


